#edit-settings-alignment-icon-image {
	float: right;
	background-color: #CCCCCC;
	padding: 10px;
	border-radius: 5px;
	margin-top: -50px;
	cursor: pointer;
}

#block-contextualnodetabs .contextual button {
  display: none;
}

.contextual_local_tasks {
	position: relative;
}

.cnt-menu {
	display: none;
	position: absolute;
	top: 34px;
	z-index: 1;
	background-color: #E6E6E6;
	border: 1px solid #AAA;
}

.cnt-menu.menu-show {
	display: block;
}

.contextual_local_tasks ul {
	padding: 0;
}

.contextual_local_tasks li {
	list-style: none;
	min-width: 100px;
}

.contextual_local_tasks li a {
	padding: 5px;
	display: block;
	text-decoration: none;
	border: 0;
}

.contextual_local_tasks li a:hover{
	background:#155FB0;
	color: #FFFFFF;
}

.cnt-icon {
	background-color: #E6E6E6;
	background-image: none;
  padding-right: 5px;
  border: 1px solid #AAA;
  border-bottom: 0;
  z-index: 2;
  position: relative;
}
.cnt-icon img {
  max-height: 20px;
}
.cnt-icon .ui-button-text {
	padding: 5px;
	display: flex;
  width: 24px;
}
.cnt-icon .ui-button-icon-secondary {
  right: 5%;
}

.contextual_local_tasks.auto-hide .cnt-icon {
  position: absolute;
  display: none;
}
.contextual_local_tasks.right-aligned * {
  right: 5%;
}
.contextual_local_tasks.position-floating {
  
}
.contextual_local_tasks.position-floating .cnt-icon {
  display: block;
}

.dropdown-toggle {
  border-radius: .2em .2em 0 0;
}

ul.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  top: 19px;
  border-radius: 0 0 .2em .2em;
}

@media screen and (min-width: 37.5em) {
	
}