{#
/**
 * @file
 * Default theme implementation for the contextual node tabs toolbar.
 *
 * Available variables:
 * - local_tasks: Node local tasks including primary and secondary.
 * - config: Additional settings for the menu.
 *
 * @see contextual_node_tabs_theme()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass(classes) }}>
  <a class="cnt-icon dropdown-toggle" href="#"><img src="{{ icon }}" border="0" /></a>
  <ul class="cnt-menu dropdown">
    {{ local_primary_tasks }}
    {{ local_secondary_tasks }}
  </ul>
</div>
